<ul data-node="listBox" class="listBox">
  <!--第二种消息-->
  <li class="item clearfix" data-node="item">  
    <div class="item-inner">
      <div class="rbox-inner">         
        <div class="title-box">
          <a ga_event="click_feed_newstitle" class="link title" href="/news_hot/2679.html" target="_blank" data-node="title">
            {title}</a>
        </div>
        <div class="footer clearfix">
              <div class="left lfooter">
                <a class="lbtn source" href="javascript:;">&nbsp;</a>
                <span class="lbtn comment"></span>
                <span class="lbtn time">{updated_at}</span>
              </div>
              <div class="right rfooter">
                <span data-node="likeGroup" class="">
                
                  <a class="rbtn bury" href="javascript:;" title="踩" onclick="makeRequest('/e/public/digg?classid=1&id=2679&dotop=1&doajax=1&ajaxarea=diggnum','EchoReturnedText','GET','');"></a>
                  <a class="rbtn digg" href="javascript:;" title="顶" onclick="makeRequest('/e/public/digg?classid=1&id=2679&dotop=0&doajax=1&ajaxarea=diggnum','EchoReturnedText','GET','');"></a>
                </span>
              </div>
        </div>
      </div>
    </div>
  </li>            
</ul>